body{
    background-color: #EEEEEE;
}

#top-pane{
    height: 35%;
    background: #FFE68C;
}

#bottom-pane{
    height: 62%;
    background-color: #AF5C60;
}

#bottom-pane > nav{
    height: 40px;
}

#bottom-pane > nav *{
    display: inline-block;
}

#bottom-pane > nav ul{
    margin: 0; 
    padding: 0;
    color: #EEEEEE;
}

#bottom-pane > nav li{
    margin: 0 10px; 
    font-size: 30px;
}

#bottom-pane > div{
    display: none;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    background-color: #EEEEEE;
    color: #303030;
    font-size: 24px;
    overflow: auto;
}

#bottom-pane > div[name="#project"]{
    display: block;
}

#bottom-pane > div > p{
    margin: 0;
}

#bottom-pane > div > ul{
    margin: 0;
}

#bottom-pane > div > ul > li{
    margin: 0;
    padding: 0;
    list-style:none;
}

#bottom-pane > div > ul > li:before{
    content: "->";
}

#bottom-pane > div > ul > li ul *{
    display: inline-block;
}